@import url('https://fonts.googleapis.com/css?family=Oxygen');

html {
  width: 100%;
  height: 100%;
}

body{
  color: #333;
  background-color: #333;
  font-family: 'Oxygen', sans-serif;
}

.wrapper {
  position: relative;
  width: 450px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 15%;
}

.about {
  color: #fff;
  margin-bottom: 10px;
}

.about__head {
  margin-bottom: 10px;
}

.about__paragraph {
  margin: 0;
}

.quote-box {
  background-color: #fff;
  padding: 50px;
  border-radius: 3%;
  margin-bottom: 10px;
}

.quote-text {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
  opacity: 1;
}

.quote-author {
  margin-bottom: 20px;
  text-align: right;
  opacity: 1;
}

.quote-buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  height: 35px;
  font-size: 0.85em;
  border-radius: 3%;

  &:hover {
    opacity: 0.85;
  }
}

.button--link {
  text-decoration: none;
}

.button--link:first-child {
  margin-right: 5px;
}

.button--link svg{
  width: 35px;
  height: 35px;
}

#new-quote {
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
}

footer {
  width: 450px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}
